:root {
  --color-background: #faf4ea;
  --color-background-dark: #a28268;
  --color-primary: #819b57;
  --color-primary-dark: #465929;
  --color-primary-light: hsl(60, 17%, 77%);
  --color-foreground: #31261a;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
