/* ADVANTAGES SECTION STYLES */
.advantage-section {
  display: flex;
  padding: 16px 0;
  gap: 40px;
  @media screen and (min-width: $bp-tablet) {
    background-color: var(--color-primary);
  }
  .advantages-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--color-primary-light);
    border-radius: 24px;
    padding: 24px 40px;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-between;
      color: var(--color-background);
      background-color: transparent;
      border-radius: 0;
      padding: 0;
      font-size: 16px;
    }
    @media screen and (min-width: $bp-desktop) {
      font-size: 24px;
    }
  }
}
