.button {
  color: white;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 6px;
  cursor: pointer;
  padding: 16px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  &:hover {
    color: var(--color-primary-dark);
    background-color: transparent;
  }
}
.close-button{
  fill: var(--color-primary);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
