/* CONTACT SECTION STYLE */
.section{
  padding: 0 !important;
  @media screen and (min-width:$bp-tablet) {
    padding: 20px 0 !important;
  }
}
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
  }
  .contact-title {
    margin-bottom: 16px;
  }
  .contact-map {
    flex-shrink: 0;
    // width: 100%;
    margin: 0 -24px;
    height: 176px;
    border: none;
   
    @media screen and (min-width: $bp-tablet) {
      width: 300px;
      height: 500px;
      border-radius: 16px;
      margin: 0;
    }
    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 595px;
    }
  }
}
