/* FORM  */
.form-field {
  position: relative;
  margin-bottom: 32px;
  .form-label {
    position: absolute;
    left: 42px;
    top: 16px;
    /* line-height: 1.17;
        color: var(--color-background-dark); */
    font-size: 16px;
    display: block;
    /* transition: transform 0.3s; */
  }
  .form-input {
    padding: 8px 22px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-background-dark);
    background-color: transparent;
    @media screen and (min-width:$bp-mobile) {
      padding: 16px 42px;

    }
    &::placeholder {
      line-height: 1.17;
      color: var(--color-background-dark);
    }
    &:focus {
      border-color: var(--color-primary-dark);
      outline: none;
    }
    &:focus::placeholder {
      color: var(--color-primary-dark);
    }
  }
}
.form-button {
  display: block;
  margin: 0 auto 24px;
}
.form-info {
  max-width: 210px;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  a {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--color-foreground);
  }
}
/* .form-field:focus-within .form-label{
      transform: translate(-36px, -40px);
    } */
